<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app.js"></script>

</head>
<body ng-app="rest">

<div ng-controller="testCtrl as test">

    <div ng-hide="test.posts">Loading .....</div>

 <div ng-repeat="post in test.posts">
     <strong>{{post.id}}. {{post.title}}</strong>
     <br>
     {{post.body}}

     <!--<div ng-repeat="comment in test.comments | filter:{'postId':post.id}:true">-->
         <!--[{{comment.id}}] &#45;&#45; {{comment.name}} : {{comment.body}} <br>-->
     <!--</div>-->

     <div ng-if ="comment.postId==post.id" ng-repeat="comment in test.comments">
         [{{comment.id}}] -- {{comment.name}} : {{comment.body}} <br>
     </div>



 </div>

</div>


</body>
</html>